.profile{
    padding: 0px 150px;
}
.profile-data{
    display: flex;
    padding: 50px;
}
.profile-data .data1 ,.data2{
    width: 50%;
}
.data1 h3{
    color: rgb(35, 97, 35);
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
}
.data1{
    padding-top: 30px;

}
.data1 button{
    background-color:rgb(135, 184, 86) ;
    color: white;
    margin: 30px;
    margin-left: 5px;
}
.data2{
    display: flex;
    align-items: center;
}
.coma img{
    width: 50px;
    margin: 30px;
    position: relative;
    top: 70px;
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: -40px;
    margin-bottom: 30px;
}
.image img{
    width: 100%;
}
h6{
    font-size: 13px;
    padding: 20px 0;
}
.p1{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}
.p2,.p3{
    line-height: 25px;
    font-size: 15px;
}
